{{ template "head.html" . }}
{{ template "nav.html" }}

<script src="/assets/charts.js"></script>

<h2>Leaderboard</h2><br>
<h4>Team: <i>{{ .team.Team.Alias }}</i></h4>
<br>
{{ if .imageFilter }}
<h4>
    <button class="btn btn-lg btn-dark">
        <a href="/team/{{ .team.Team.Alias }}">
            Only showing data for <span style="color: {{ .imageFilter.Color }}">{{ .imageFilter.Name }}.</span>
        </a>
    </button>
</h4>
<br>
{{ end }}

<!-- Team info -->
<table class="table table-borderless table-dark table-striped">
    <thead class="thead-dark">
        <th>Play Time</th>
        <th>Total Score</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ .team.Time }}</td>
            <td>{{ .team.Score }}</td>
        </tr>
    </tbody>
</table>

{{ $team := .team.Team }}

<!-- Current image scores -->
<br><h4>Current Image Scores</h4><br>
<table class="table table-borderless table-dark table-striped scoreboard">
    <thead class="thead-dark">
        <th>Image Name</th>
        <th>Play Time</th>
        <th>Elapsed Time</th>
        <th>Vulns Found</th>
        <th>Total Vulns</th>
        <th>Score</th>
    </thead>
    <tbody>
        {{ range $score := .data }}
        <tr>
            <td>
                <a href="/image/{{ $score.Image.Name }}" style="color: {{ $score.Image.Color }}">
                {{ $score.Image.Name }}
                </a>
            </td>
            <td>
                <a href="/team/{{ $team.Alias }}/image/{{ $score.Image.Name }}">
                {{ $score.PlayTimeStr }}
                </a>
            </td>
            <td>
                <a href="/team/{{ $team.Alias }}/image/{{ $score.Image.Name }}">
                {{ $score.ElapsedTimeStr }}
                </a>
            </td>
            <td>
                <a href="/team/{{ $team.Alias }}/image/{{ $score.Image.Name }}">
                {{ $score.Vulns.VulnsScored}}
                </a>
            </td>
            <td>
                <a href="/team/{{ $team.Alias }}/image/{{ $score.Image.Name }}">
                {{ $score.Vulns.VulnsTotal}}
                </a>
            </td>
            <td>
                <a href="/team/{{ $team.Alias }}/image/{{ $score.Image.Name }}">
                {{ $score.Points }}
                </a>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ $labels := .labels }}
{{ $images := .images }}

<!-- Graph of scores over time -->
<br><br><h4>Scores Over Time</h4><br>
<noscript>
    <p style="color: white; text-align: center">The score graph uses Chart.js, and thus doesn't function without JavaScript.</p>
</noscript>
<canvas id="scoresOverTime"></canvas>

<script>
    var config = {
        type: 'line',
        data: {
            labels: [{{ range $index, $label := $labels }}{{ if $index }} , {{ end }} '{{ $label }}' {{ end }}],
            datasets: [
            {{ range $index, $image := $images }}
            {{ if $index }},{{ end }}
            {
                label: '{{ $image.Name }}',
                {{ if $image.Color }}
                backgroundColor: '{{ $image.Color }}',
                borderColor: '{{ $image.Color }}',
                {{ else }}
                backgroundColor: 'rgb(255, 255, 255)',
                borderColor: 'rgb(255, 255, 255)',
                {{ end }}
                data: [
                {{ range $index2, $record := $image.Records }}
                {{ if $index2 }},{{end}}
                    {x: '{{ $record.Time.Format "2006-01-02 15:04" }}', y: {{ $record.Points }} }
                {{ end }} ],
                fill: false,
            }
            {{ end }}
            ]
        },
        options: {
            responsive: true,
            elements : {
                line: {
                    tension: 0
                }
            },
            scales: {
                xAxes: [{
                    ticks: {
                        maxRotation: 0,
                        minRoation: 0
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        maxTicksLimit: 5,
                        stepSize: 1
                    }
                }]
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById('scoresOverTime').getContext('2d');
        window.myLine = new Chart(ctx, config);
    };

</script>

{{ if .user }}
<br><br><h4>Vulnerabilities</h4><br>
{{ range $score := .data }}
<h6>{{ $score.Image }}</h6>
<br>
<table class="table table-borderless table-dark table-striped">
    <thead class="thead-dark">
        <th>Vuln Text</th>
        <th>Points</th>
    </thead>
    <tbody>
        {{ range $vuln := $score.Vulns.VulnItems }}
        <tr>
            <td>{{ $vuln.VulnText }}</td>
            <td>{{ $vuln.VulnPoints }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
{{ end }}

<br>
<br>
{{ template "feet.html" }}
