<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata and resources
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>{{ .event }} {{ .title }}</title>
    <meta name="title" content="{{ .event }} {{ .title }}">
    <meta property="image" content="/assets/favicon.ico">
    <meta property="og:image" content="/assets/favicon.ico">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/bootstrap.css">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="icon" type="image/ico" href="/assets/favicon.ico"/>
</head>

<body>
    <div class="container">
