{{ template "head.html" . }}
{{ template "nav.html" . }}
{{ $imageFilter := .imageFilter }}

<div class="container">
    <h2>Leaderboard</h2>
    {{ if .user }}
    <h6>
        <a href="/export">
            <i>Export CSV</i>
        </a>
    </h6>
    {{ end }}
    <br>
    {{ if .event }}
    <h4><i>{{ .event }}</i></h4>
    {{ end }}
    <div class="filterbuttons">
        {{ if $imageFilter }}
        <p style="color: white; argin-right: 1rem;">
            Only showing <span style="color: {{ $imageFilter.Color }}"><b>{{ $imageFilter.Name }}</b></span>!
        </p>
        &nbsp;
        &nbsp;
        {{ else }}
        <p style="color: white; margin-right: 1rem;">
            Filter by image:
        </p>
        {{ end }}
        <div class="btn-group btn-group-sm" role="group">
            {{ range $image := .config.Image }}
            <button type="button" class="btn btn-dark" >
                <a href="/image/{{ $image.Name }}" style="color: {{ $image.Color }}">
                    {{ $image.Name }}
                </a>
            </button>
            &nbsp;
            {{ end }}
            {{ if $imageFilter }}
            <button type="button" class="btn btn-dark">
                <a href="/">
                    All
                </a>
            </button>
            {{ end }}
        </div>
    </div>
    <br>
    <table class="table table-borderless table-dark table-hover scoreboard">
            <thead class="thead-dark">
                <th>Rank</th>
                <th>Team</th>
                {{ if not $imageFilter }}
                <th>Image(s)</th>
                {{ end }}
                <th>Play Time</th>
                <th>Score</th>
            </thead>
            <tbody>
                {{ range $team_rank, $team := .scores }}
                {{ $linktext := "" }}
                {{ if $imageFilter }}
                    {{ $linktext = (print "/team/" $team.Alias "/image/" $imageFilter.Name) }}
                {{ else }}
                    {{ $linktext = (print "/team/" $team.Alias) }}
                {{ end }}
                <tr>
                    <td>
                      <a href="{{ $linktext }}">
                          {{ $team_rank | increment }}
                      </a>
                    </td>
                    <td>
                        <a href="{{ $linktext }}">
                            {{ $team.Alias }}
                        </a>
                    </td>
                    {{ if not $imageFilter }}
                    <td>
                        <a href="{{ $linktext }}">
                            {{ $team.ImageCount }}
                        </a>
                    </td>
                    {{ end }}
                    <td>
                        <a href="{{ $linktext }}">
                            {{ $team.Time }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ $linktext }}">
                            {{ $team.Score }}
                        </a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>

        <br/><br/>

    </div>

    {{ template "feet.html" }}
