<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
        <b>Σαρπηδών</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="/announcements">Announcements</a>
            </li>
            {{ if .user }}
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{ else }}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>
