{{ template "head.html" . }}
{{ template "nav.html" . }}

<div class="container">
    <style>
        input, btn, button {
            color: black !important;
        }
    </style>
    <br>
    <h2>{{ .image.Name }} 🐚 for {{ .team.Alias }}</h2>

    {{ if .error }}
    <br>
    <h4>{{ .error }}</h4>
    {{ else }}

    <script>
        Element.prototype.remove = function() {
            this.parentElement.removeChild(this);
        }
        NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
            for(var i = this.length - 1; i >= 0; i--) {
                if(this[i] && this[i].parentElement) {
                    this[i].parentElement.removeChild(this[i]);
                }
            }
        }
        window.addEventListener("load", function(evt) {
            var output = document.getElementById("output");
            var input = document.getElementById("input");
            var status = document.getElementById("status");
            var stdin;
            var stdout;
            var handleSend = function(evt) {
                if (!stdin || !stdout || !remote) {
                    printInfo("Connection not yet established.")
                    return false;
                }
                printInput(input.value);
                stdin.send(input.value);
                return false;
            };
            var printInfo = function(message) {
                var d = document.createElement("div");
                d.textContent = message;
                d.className += 'cmdinfo'
                output.appendChild(d);
            };
            var printInput = function(message) {
                var d = document.createElement("div");
                d.textContent = message;
                d.className += 'cmdinput'
                output.appendChild(d);
            };
            var printOutput = function(message) {
                var d = document.createElement("div");
                d.textContent = message;
                d.className += 'cmdoutput'
                output.appendChild(d);
            };
            var remote = false;
            if (!stdin) {
                stdin = new WebSocket("ws://localhost:4013/shell/{{ .team.Id }}/{{ .image.Name }}/serverInput");
                stdin.onopen = function(evt) {
                    printInfo("Opened stdin.");
                }
                stdin.onclose = function(evt) {
                    printInfo("CLOSE stdin");
                    stdin.send("exit");
                    status.textContent = "Dead :("
                    stdin = null;
                }
                stdin.onmessage = function(evt) {
                    printInfo("RESPONSE: " + evt.data);
                }
                stdin.onerror = function(evt) {
                    printInfo("ERROR: " + evt.data);
                }
            }

            if (!stdout) {
                stdout = new WebSocket("ws://localhost:4013/shell/{{ .team.Id }}/{{ .image.Name }}/serverOutput");
                stdout.onopen = function(evt) {
                    printInfo("Opened stdout.");
                }
                stdout.onclose = function(evt) {
                    console.log("closing stdout")
                    printInfo("CLOSE stdout");
                    status.textContent = "Dead :("
                    stdout = null;
                }
                stdout.onmessage = function(evt) {
                    if (!remote) {
                        printInfo("Remote has connected.");
                        status.textContent = "Ready!"
                        remote = true
                    }
                    splitResponse = evt.data.split("\n")
                    console.log(splitResponse)
                    splitResponse.forEach(function(item, index) {
                        printOutput(item);
                    });
                }
                stdout.onerror = function(evt) {
                    printInfo("ERROR: " + evt.data);
                }
            }
            document.getElementById("cmdform").addEventListener("submit", function(evt) {
                evt.preventDefault()
                handleSend(evt)
                return false;
            });
            document.getElementById("send").onclick = handleSend(evt);
            document.getElementById("close").onclick = function(evt) {
                console.log("closing both")
                if (stdin) {
                    stdin.close();
                }
                if (stdout) {
                    stdout.close();
                }
                return false;
            };
            document.getElementById("clear").onclick = function(evt) {
                document.getElementsByClassName("cmdoutput").remove()
                document.getElementsByClassName("cmdinput").remove()
                document.getElementsByClassName("cmdinfo").remove()
                return false;
            };
        });

    </script>
    <div style="text-align: center;" id="status">
        Waiting for connection from client...
    </div>
    <br>
    <div style="display: flex; justify-content: center;">
        <form id="cmdform">
            <input id="input" type="text" value="ls">
            <button id="send">Send</button>
            <button id="clear">Clear</button>
            <button id="close">Exit</button>
        </form>
    </div>
    <br>
    <div id="output"></div>
    {{ end }}
</div>

{{ template "feet.html" }}
